.main {
    position: relative;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: black url("/goombingo/gomioldge.png") no-repeat right bottom;
    overflow: hidden;
    background-size: 20%;
}
.robotGif {
    position: absolute;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color:red; left:50%; top:50%;}
    5%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:80%; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:50%; top:50%;}
}


.warning {
    white-space: nowrap;
    position: absolute;
}

.main h1 {
    font-size: 69px;
    color: #fafafa;
}

.sayings {
    position: absolute;
    bottom: 100px;
    right: 300px;
    color: white;
    background: rgba(0, 0, 0, 0.84);
    padding: 16px;
}
.callerWrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    gap: 128px;
}

.resultWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #e8e8e8;
}

.resultWrapper h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 69px;
    width: 100px;
    white-space: nowrap;
}
